.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    height: 90px;
    line-height: 90px;
}

.header .inner {
    display: flex;

    justify-content: space-between;
}

.header .inner:hover .gnb::before {
    height: 305px;
    visibility: visible;
}

.header .inner .gnb::before {
    content: "";
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    height: 0;
    background: #fff;
    border-bottom: 1px solid #ddd;
    visibility: hidden;
}



.header .inner .gnb>ul {
    display: flex;
    gap: 60px;
    justify-content: space-between;

}

.header .inner .gnb>ul>li {
    position: relative;
    width: 100px;
}

.header .inner .gnb>ul>li>a {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 500;

    border-bottom: 1px solid transparent;
}

.header .inner .gnb>ul>li>a:hover {
    color: #1b2741;
    border-bottom: 1px solid #1b2741;
}

.header .inner .gnb .drop_menu {
    position: absolute;
    display: none;
    padding: 30px 0 0 0;
}

.header .inner:hover .gnb .drop_menu {
    display: block;

}

.header .inner .gnb .drop_menu>li {
    height: 35px;
    text-align: center;
}

.header .inner .gnb .drop_menu>li>a {
    display: block;
    line-height: 35px;

}

.header .inner .gnb .drop_menu>li>a:hover {
    font-weight: 500;
}

.mainSection01 {
    position: relative;
}

.mainSection01 .main_slide figure {
    position: relative;
    height: 100vh;
}

.mainSection01 .main_slide .slide_itm01 {
    background: url(../../public/img/mainVisual01.jpg) no-repeat center center /cover;
}

.mainSection01 .main_slide .slide_itm02 {
    background: url(../../public/img/mainVisual02.jpg) no-repeat center center /cover;

}

.mainSection01 .main_slide figure .inner {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 900;
    color: #fff;
    text-shadow: 0 0 1px #333;

}

.mainSection01 .main_slide figure .inner p {
    font-weight: 700;
}

.mainSection01 .main_slide .slick-slider .slick-arrow {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    border-radius: 50%;
    cursor: pointer;
}

.mainSection01 .main_slide .slick-slider .slick-prev {
    width: 30px;
    height: 30px;
    margin-left: -600px;

    color: #1b2741;

}

.mainSection01 .main_slide .slick-slider .slick-next {
    width: 30px;
    height: 30px;
    margin-left: -350px;

    color: #1b2741;
}

.mainSection01 .main_slide .slick-slider .slick-dots {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -480px;
    width: 150px;
    transform: translate(-50%, -50%);


}

.mainSection01 .main_slide .slick-slider .slick-dots>li {
    display: inline-block;
    margin: 0 10px 0 0;

}

.mainSection01 .main_slide .slick-slider .slick-dots>li:last-child {
    margin: 0;
}

.mainSection01 .main_slide .slick-slider .slick-dots>li>button {
    width: 50px;
    height: 10px;
    border-radius: 10px;
    font-size: 0;
    background: #fff;
    border: 0px;
    transition: 0.3s;
    line-height: 20px;
}

.mainSection01 .main_slide .slick-slider .slick-dots>li.slick-active>button {
    width: 90px;
    height: 10px;
    border-radius: 10px;
    background: #1b2741;
    border: 0px;
}

.mainSection01 .SC_ico {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, 0);
}

.mainSection02 .inner .Bus_flex {
    display: flex;
    gap: 30px;
    justify-content: space-between;

}

.mainSection02 .inner .Bus_flex>li {
    position: relative;
    width: 100%;
    height: 500px;
    transition: 0.4s;
}

.mainSection02 .inner .Bus_flex>li>a {
    display: block;
    width: 100%;
    height: 100%;
}

.mainSection02 .inner .Bus_flex>li:hover {
    margin-top: -30px;
}

.mainSection02 .inner .Bus_flex .bus_itm01 {
    background: url(../../public/img/main_Business01.jpg) no-repeat center center/cover;
}

.mainSection02 .inner .Bus_flex .bus_itm02 {
    background: url(../../public/img/main_Business02.jpg) no-repeat center center/cover;
}

.mainSection02 .inner .Bus_flex .bus_itm03 {
    background: url(../../public/img/main_Business03.jpg) no-repeat center center/cover;
}

.mainSection02 .inner .Bus_flex .bus_itm04 {
    background: url(../../public/img/main_Business04.jpg) no-repeat center center/cover;
}

.mainSection02 .inner .Bus_flex>li .bus_flex_text {
    position: absolute;
    bottom: 50px;
    left: 30px;
    z-index: 100;
    color: #fff;
}

.mainSection02 .inner .Bus_flex>li .bus_flex_text span {
    display: block;
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.mainSection02 .inner .Bus_flex>li .bus_flex_text p {
    font-size: 17px;
    font-weight: 500;

}

.mainSection03 {
    padding: 100px 0 130px 0;
}

.mainSection03 .slick-slider .slick-dots {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 0);

}

.mainSection03 .slick-slider .slick-dots>li {
    display: inline-block;
    margin: 0 10px 0 0;

}

.mainSection03 .slick-slider .slick-dots>li:last-child {
    margin: 0;
}

.mainSection03 .slick-slider .slick-dots>li>button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 0;
    background: #eee;
    border: 1px solid #999;
    transition: 0.3s;
    line-height: 20px;
}

.mainSection03 .slick-slider .slick-dots>li.slick-active>button {

    background: #1b2741;
}



.mainSection03 .port_slide>li {
    position: relative;
    height: 500px;

}

.mainSection03 .port_slide>li span {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);

    padding: 20px 0;
    color: #fff;
    text-align: center;
    line-height: 1.3;
    font-size: 15px;
    font-weight: 500;
}

.mainSection03 .port_slide>li::before {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.7);
}

.mainSection03 .port_slide .port_itm01 {
    background: url(../../public/img/main_Portfolio01.jpg)no-repeat center center/cover;
}

.mainSection03 .port_slide .port_itm02 {
    background: url(../../public/img/main_Portfolio02.jpg)no-repeat center center/cover;
}

.mainSection03 .port_slide .port_itm03 {
    background: url(../../public/img/main_Portfolio03.jpg)no-repeat center center/cover;
}

.mainSection03 .port_slide .port_itm04 {
    background: url(../../public/img/main_Portfolio04.jpg)no-repeat center center/cover;
}

.mainSection03 .port_slide .port_itm05 {
    background: url(../../public/img/main_Portfolio05.jpg)no-repeat center center/cover;

}


.mainSection04 {
    background: url(../../public/img/main_pro-bg.jpg) no-repeat center center/cover;
    color: #fff;
}

.mainSection04 .prologue_link {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.mainSection04 .prologue_link a {
    display: inline-block;
    padding: 20px 70px;
    background: #1b2741;
    border-radius: 30px;
}

















.footer {
    background: #252525;
    padding: 30px 0;
}

.footer .top .inner {
    padding: 30px 0;
    border-bottom: 1px solid#555;
}

.footer .top .inner ul {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 300;
    color: #ddd;
}

.footer .top .inner ul>li {
    position: relative;
}

.footer .top .inner ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translate(0, -50%);
    width: 1px;
    height: 10px;
    background: #555;
}

.footer .top .inner ul>li>a {
    display: block;
}

.footer .top .inner ul .f_list_fir a {
    color: #fff;
    font-weight: 700;

}

.footer .bottom {
    padding: 50px 0;

}

.footer .bottom .inner {
    display: flex;
    gap: 30px;
}

.footer .bottom .inner figure img {
    width: 120px;
}



.footer .bottom .inner address ul {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: 300;
    color: #ddd;
    margin: 0 0 20px 0;
}

.footer .bottom .inner address ul>li {
    position: relative;
}

.footer .bottom .inner address ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translate(0, -50%);
    width: 1px;
    height: 10px;
    background: #555;
}

.footer .bottom .inner address ul>li>a {
    display: block;
}

.footer .bottom .inner address .copy {
    color: #ddd;
}