.sub01_header {
    position: relative;
    width: 100%;
    height: 500px;
    background: url(../../public/img/sub01_header.jpg) no-repeat center center/cover;
}

.sub01_header .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.subimg {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.sub_nav {
    position: relative;
}

.sub_nav .inner {
    position: absolute;
    margin-top: -90px;
    left: 50%;
    transform: translate(-50%, 0);
}

.sub_nav .inner .sub_nav_list {

    display: flex;
    justify-content: space-between;
    align-items: center;


    z-index: 2000;
    height: 90px;
}

.sub_nav .inner .sub_nav_list>li {
    flex: 1;
    text-align: center;
    background: #1b2741;
    line-height: 90px;
    color: #fff;
    transition: 0.4s;
}

.sub_nav .inner .sub_nav_list>li~li {
    border-left: 1px solid #fff;
}

.sub_nav .inner .sub_nav_list>li.on {
    background: #fff;
    color: #333;

}

.sub_nav .inner .sub_nav_list>li:hover {
    background: #fff;
    color: #333;

}

.sub_nav .inner .sub_nav_list>li>a {
    display: block;
    font-size: 20px;
    font-weight: 500;
}

.sub01Content.ceo .inner {
    position: relative;
    text-shadow: 0 0 1px #000;
    margin-bottom: 100px;
    height: 200px;
}

.sub01Content .inner {
    margin-bottom: 100px;
}

.sub01Content.ceo .inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.sub01Content.ceo .ceo_message {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.sub01Content.ceo .ceo_message span {
    display: block;

    font-size: 35px;
    font-weight: 500;

    margin: 0 0 20px 0;
}

.sub01Content.ceo .ceo_message p {

    font-size: 18px;
    color: #888;
    line-height: 1.9;

    padding: 0 10%;

}

.company_content {
    width: 1200px;
    margin: 0 auto;
}

.company_content::after {
    content: "";
    display: block;
    clear: both;
}

.company_content .left_img {
    float: left;
    width: 40%;
    height: 700px;
    background-image: url(../../public/img/sub01_2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.company_content .right_text {
    float: right;
    width: 55%;
    height: 700px;
    padding: 10px 0;
}

.company_content .right_text table tr:first-child {
    border-top: 1px solid#ddd;
}

.company_content .right_text table tr:last-child {
    border-bottom: 1px solid#ddd;
}

.company_content .right_text table tr~tr {
    border-top: 1px solid#ddd;
}

.company_content .right_text table td {
    padding: 20px 0;
    color: #555;

}

.company_content .right_text table .compan_table_title {
    font-size: 20px;
    font-weight: 500;
    padding: 20px 100px 20px 0;
    color: #333;
}